{% extends 'core/base.html' %}

{% block content %}
  <div  class="ui celled column grid">

    <div class="eight wide column">
      <h1>Busque e baixe torrents!</h1>

      <div id="searchBox" class="ui action input">
        <input type="text" placeholder="Search...">
        <button class="ui icon button">
          <i class="search icon"></i>
        </button>
      </div>

      <div id="searchResultContent">
        <div class="ui middle aligned divided list resultContent">
          <!-- javascript handle this node -->
        </div>
      </div>
    </div>

    <div class="eight wide column">
      <h1>Torrent Status</h1>

      <div class="statusContent">
        <table class="ui compact celled definition table">
          <thead class="full-width">
          <tr>
            <th>Title</th>
            <th>Complete %</th>
            <th>Download kb/s</th>
            <th>Up Kb/s</th>
            <th>Pers</th>
            <th>State</th>
            <th>Pause</th>
          </tr>
          </thead>

          <tbody>
          {% for torrent in context.download_torrent_list %}
            <tr>
              <td>{{ torrent.title }}</td>

              {% for item in torrent.status %}
                <td>{{ item }}</td>
              {% endfor %}

              <td class="collapsing">
                <div class="ui fitted slider checkbox">
                  <input type="checkbox"> <label></label>
                </div>
              </td>
            </tr>
          {% endfor %}
          </tbody>

          <tfoot class="full-width">
          <tr>
            <th></th>
            <th colspan="4">
              <div class="ui right floated small primary labeled icon button">
                <i class="user icon"></i> Add User
              </div>
              <div class="ui small  button">
                Approve
              </div>
              <div class="ui small  disabled button">
                Approve All
              </div>
            </th>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}
  <script>
      var searchBox = $('#searchBox');
      var loading = $('#loading');
      var searchResultContent = $('#searchResultContent');

      var updateResultBox = function(){
          var searchString = searchBox.find('input')[0].value;

          loading.addClass('active');

          $.ajax({
              url: '/search/' + searchString
          }).done(function(data){
              searchResultContent.find('.resultContent').empty();
              searchResultContent.find('.resultContent')[0].innerHTML = data;
              loading.removeClass('active');
          });

          return null;
      };

      searchBox.find('button').click(updateResultBox);

      searchBox.find('input').on('keydown', function(e){
          if(e.keyCode === 13){
              updateResultBox();
          }
      });
  </script>
{% endblock %}
